@import url('https://fonts.googleapis.com/css?family=Limelight|Open+Sans');

body {
    background: url('../images/curtain.svg');
    background-size: cover; 
    background-repeat: no-repeat;      
    font-family: 'Open Sans', sans-serif;
    color: #363636;
}
h1   {
    font-family: 'Limelight', cursive;
    
}
h2 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 4em;
    letter-spacing: -.1em;
    margin-bottom: 0;
    line-height: .7;
    margin-top: .2em;
}
.letter {
    border-bottom: 1px solid #363636
    color: white;
    margin: 0 .2em;
    padding: .2em;
    float: left;
}

.jumbotron {
    background: rgba(233, 236, 239, .5);
    margin-left: 1em;
    margin-right: 1em;
}
small {
    font-size: 1.33rem;
    letter-spacing: .77em;
}
.page-header {
    white-space: nowrap;
}

@media (max-width: 767px) {
    h2 {
        font-size: 1em;
    }
    h1 {
        font-size: 3em;
    }
    small {
        font-size: 1rem;
    }
 }
